{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    {% include "quiz/navbar.html" %}
    <br /><br /><br /><br /><br />
    <div style="text-align: center">
      <!-- Center align the image -->
      <img src="{% static "image/logout_img.png" %}" style="width: 800px;
      height: auto;">
      <!-- Increase width, height auto adjusts -->
    </div>
    <br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br />
    <br /><br />
    {% include "quiz/footer.html" %}
  </body>
</html>
